# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
<jjnapiork@cpan.org> <jjn1056@yahoo.com>
<jjnapiork@cpan.org> <johnn@John-Napiorkowski-MacBook-Pro.local>
<jjnapiork@cpan.org> <johnn@new-host.home>
Tomas Doran (t0m) <t0m@state51.co.uk>
Tomas Doran (t0m) <bobtfish@bobtfish.net>
Tomas Doran (t0m) <bobtfish@bobtfish.net> <t0m@state51.co.uk>
Robert 'phaylon' Sedlacek <phaylon@cpan.org> phaylon <phaylon@3efe9002-19ed-0310-8735-a98156148065>
Robert 'phaylon' Sedlacek <phaylon@cpan.org> Robert Sedlacek <r.sedlacek@shadowcat.co.uk>
Robert 'phaylon' Sedlacek <phaylon@cpan.org> <rs@474.at>
